 <div class="account-dropdown-partial" style="float:right;">
  <button class="account-dropdown-button">
      <p>Profile</p>
  </button>
  <div class="account-dropdown-content">
    <a href="/cookbooks">Cookbook</a>
    <a href="javascript:getUserRecipes();">My recipes</a>
    <a href="/logout">Log out</a>
  </div>
</div>
<script>
 async function getUserRecipes() {
    let response = await getGetUserRecipes();
    if (response.status === 200) {
      document.location.assign('/userrecipes');
    }
  }
</script>
