 <div class="dropdown-partial" style="float:right;">
  <button class="dropdown-button">
      <p>Profile</p>
  </button>
  <div class="dropdown-content">
    <a href="/cookbook">Cookbook</a>
    <a href="/userrecipes">My recipes</a>
    <a href="/login">Log out</a>
  </div>
</div> 