<header class="header-container">
        <div class="header-left-container">
            <img src="/images/logo.png" width="30px">
            <a class="site-header" href="/">Recipes</a>
            {{>searchinput}}
        </div>
        <div class="header-right-container">
            <a class="add-recipe-button" href="/userrecipes/add" title="Add recipe"></a>
            <div class="account-container">
                {{>account-dropdown}}
            </div>
        </div>
        <button class="client-messages-open-button" >
            <img width="20" src="/images/message.svg">
        </button>    
</header>