 <div class="left-menu-container">
    <button class="home-button"></button>
    <button type="button" class="chart-button"></button>
    <button type="button" class="calendar-button"></button>
    <button type="button" class="settings-button"></button>
</div>