 <div class="left-menu-container">
    <button class="home-button" hidden></button>
    <a class="button-link chart-button" href="/admin/admincontent"></a>
    <a class="button-link calendar-button" href="/admin/adminmoderate"></a>
    <a class="button-link settings-button" hidden></a>
</div>