<main class="main-container">
        <div class="cookbook-container">
            <div class="recipes-container-header">
                <p>My cookbook</p>
                <p><span id="cookbook-items-count"></span> recipe(s)</p>
            </div>
            <div class="recipes-items-container cookbook-projects-items">
                     <div class="cookbook-recipe-list-wrapper" id="cookbook-recipe-list">
                    </div>
            </div>
        </div>
</main>
<script>
     $(document).ready(async function() {
        await getCookbooks();
    });

    async function deleteAndUpdateCookbook(id) {
        await deleteCookbookRecord(id);
        await getCookbooks();
    }

    async function getCookbooks() {
        let response = await postGetCookbooks();
        
        let cookbookItemsCount = document.getElementById('cookbook-items-count');
        let recipesContainer = document.getElementById('cookbook-recipe-list');
        if (response.status === 200) {
            let resp = await response.json();
            let tr = '';
            let pdata = resp.cookbooks;
            pdata.forEach(function (value) {
                let r = recipe(value.recipe);
                tr += '<div style="display: flex;">' +
                        r + 
                        deleteButtonCookbook(value.recipe.id) + 
                        '</div>';
            });
            recipesContainer.innerHTML = tr;
            cookbookItemsCount.innerHTML = pdata.length || 0;
        }
        else await handleResponseErrors(response);
    }
</script>