<main class="main-container">
    <div class="recipes-container">
        <a class="big-green-button" href="/userrecipes/add">Create new recipe</a>
        <div class="recipes-container-header">
            <p>My recipes</p>
            <p><span id="recipes-items-count"></span> recipe(s)</p>
        </div>
        <div id="myModal" class="modal">
        <div class="modal-content" style="font-size: 0.8em;">
            <span class="close">&times;</span>
            {{>update-recipe-modal}}
        </div>
    </div> 
        <div class="recipes-items-container" id="user-recipes-items-container" style="display:block"></div>
    </div>
</main>
<script>
    let base64;

    $(document).ready(async function() {
       await getUserRecipes();
    }); 

    const convertBase64 = (file) => {
        return new Promise((resolve, reject) => {
            const fileReader = new FileReader();
            fileReader.readAsDataURL(file);
            fileReader.onload = () => { resolve(fileReader.result); };
            fileReader.onerror = (error) => {   reject(error);  };
        });
    };
    
    const uploadImage = async (event) => {
        const file = event.target.files[0];
        base64 = await convertBase64(file);
    };

    document.getElementById("recipe-image").addEventListener("change", (e) => {
        uploadImage(e);
    });
   
    async function editAndUpdate(id) {
        await fillModal(id);
        document.querySelector('#myModal').style.display = "block";
    }

    async function getUserRecipes() {
        let response = await postGetUserRecipes();
        
        if (response.status === 200) {
            let resp = await response.json();
            let tr = '';
            let pdata = resp.recipeList;
            
            pdata.forEach(function (value) {
                let r = recipe(value);
                tr += '<div style="display: flex;">' +
                    r +
                    updateButton(value.id) + 
                    deleteButton(value.id, value.author.id) + 
                    '</div>';
            });
            document.getElementById('user-recipes-items-container').innerHTML = tr;
            document.getElementById('recipes-items-count').innerHTML = pdata.length || 0;
        }
        else await handleResponseErrors(response);
    } 
    async function fillModal(id) {
        let response = await getRecipesJSON(id);

        document.getElementById('recipe-image').value = "";
        if (response.status === 200) {
            let recipe = await response.json();
            document.getElementById("recipe-id").value = recipe.id;
            document.getElementById("recipe-authorId").value = recipe.author.id;
            document.getElementById("recipe-title").value = recipe.title;
            document.getElementById("recipe-category").value = recipe.category.id;
            document.getElementById("recipe-meal").value = recipe.meal.id;
            document.getElementById("recipe-time").value = recipe.timeToCook;
            document.getElementById("recipe-instruction").value = recipe.instruction;
            document.getElementById("update-recipe-image").src = recipe?.images[0]?.uri;
            document.getElementById("update-recipe-image").alt = recipe?.images[0]?.description;

            await FillIngredients(recipe.recipe_ingredients);
        }
        else await handleResponseErrors(response);
    }

     async function UpdateRecipe() {
        let response = await putUpdateUserRecipe({ 
            id: document.getElementById("recipe-id").value, 
            authorId : document.getElementById("recipe-authorId").value, 
            title: document.getElementById("recipe-title").value, 
            categoryId: $('#recipe-category option:selected').val(), 
            mealId: $('#recipe-meal option:selected').val(),  
            file: base64, 
            timeToCook : document.getElementById("recipe-time").value, 
            instruction : document.getElementById("recipe-instruction").value, 
            ingredients: await AddIngredients(),
        });
        if (response.status === 200) {
            document.querySelector('#myModal').style.display = "none";
            await getUserRecipes();
        }
        else await handleResponseErrors(response);
    }
    
    async function DeleteUserRecipe(id, authorId) {
        let response = await deleteDeleteUserRecipe({id, authorId});
        if (response.status === 200) {
            await getUserRecipes();
        }
        else await handleResponseErrors(response);
    }
    
    async function FillIngredients(recipe_ingredients) {
        let ingredientsInputItems = document.getElementsByClassName("ingredients-input");
        Array.prototype.forEach.call(ingredientsInputItems, (item) => {
            item.value = 0;
        });
        Array.prototype.forEach.call(recipe_ingredients, (item) => {
            document.querySelector(`input[name="${item.ingredientId}"]`).value = item.quantity;
        });
    }

    async function AddIngredients() {
        let ingredientsInputItems = document.getElementsByClassName("ingredients-input");
        let ingredients = [];
        Array.prototype.forEach.call(ingredientsInputItems, (item) => {
            ingredients.push({ingredientId: item.name, quantity: item.value})
        });
        return ingredients;
    }
</script>