{{!-- request for removing - DELETE - user(body), recipeId(query) --}}
{{!-- change default -> row class, add filter, remove search (top), confirm removing recipe --}}
<main class="main-container">
        {{!-- {{>leftmenu}} --}}
        <div class="cookbook-container">
            {{!-- {{>searchinput}} --}}
            <div class="recipes-container-header">
                <p>My cookbook</p>
                <p>All recipes</p>
            </div>
            <div class="recipes-items-container cookbook-projects-items">
                     <div class="cookbook-recipe-list-wrapper" id="cookbook-recipe-list">
                    {{!-- {{#each recipeList}}
                        <div class="cookbook-recipe-wrapper">
                            {{>recipe}}
                            <a data-pjax='cookbook-projects-items' 
                                href="/cookbooks/delete/{{id}}"
                                onclick="return confirm('Are you sure you want to delete this item?');">
                                Delete</a>
                        </div>
                     {{/each}} --}}
                    </div>
                    {{!-- {{#each recipeList}}
                            <tr>
                                <td>{{>recipe}}</td>
                                <td>
                                    {{>minibutton 
                                        wrapperClasses='grid-view-button-wrapper delete-button-wrapper' 
                                        buttonClasses='grid-view-button'
                                    }}
                                </td>
                            </tr> 
                    {{/each}} --}}
            </div>
        </div>
</main>
<script type = "text/javascript">
    var url = "/js/recipe.js";
    $.getScript(url);
</script>
<script>
     $(document).ready(async function() {
        let response = await fetch("/cookbooks", { 
        method: 'POST',
        headers: { 
            'Authorization': `${localStorage.getItem('token')}`,
            'Content-Type': 'application/json', 
            'Accept': 'application/json' 
        }, });
        
        let recipesContainer = document.getElementById('cookbook-recipe-list');
        if (response.status === 200) {
            let resp = await response.json();
            let tr = '';
            let pdata = resp.cookbooks;
            console.log(pdata[0].recipe);
            pdata.forEach(function (value) {
                let r = recipe(value.recipe);
                tr += r;
            });
            recipesContainer.innerHTML = tr;
        }
    });
</script>