<div class="auth-form-wrapper">
    <form class="auth-form" style="height:fit-content;">
        <h3>Reset your password</h3>
        {{!-- <img src="/images/logo.png"> --}}
        <div style="height: 25px;"><span id="error-span" class="error-span"></span></div>

        <label for="email" class="login-label">Enter your email. We will send you a reset link</label>
        <input type="email" placeholder="Email" id="email" name="email" class="login-input">

        <a class="big-green-button" style="width: 100%;" href="javascript:requestPasswordReset();">Send</a>
        {{!-- <input type="submit" class="big-green-button" style="width:100%;" value="Register"></input> --}}
        <a class="auth-link" href='/login'>I remember my password</a>
        <div></div>
    </form>
</div>
<script>
    async function requestPasswordReset() {
        let email = document.getElementById('email').value;
        let errorSpan =  document.getElementById('error-span');

        let response = await postRequestPasswordReset(email);
        if (response.status === 200) {
            let {message} = await response.json();
            errorSpan.style.color = "#97c07c";
            errorSpan.innerHTML = message;
            //document.location.href = '/login';
        }
        else {
            let pdata = await response.json();
            errorSpan.innerHTML = pdata;
        }
    };
</script>