<div class="login-body">
    <form class="login-form" method="post" action="/auth/login">
        <h3>Login</h3>
        <img src="/images/logo.png" width="50px" style="margin: 10px auto; display: block;">

        <label for="email" class="login-label">Username</label>
        <input type="text" placeholder="Email" id="email" name="email" class="login-input">

        <label for="password" class="login-label">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" class="login-input">

        <input type="submit" class="login-button" value="Log In"></input>
        <a class="register-link" href='/auth/register'>Do not have an account? Register</a>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</div>