<main class="main-container">
        {{>leftmenu}}
        <div class="recipes-container">
            <div class="recipes-container-header">
                <p>Recipes...</p>
                <p>December, 12</p>
            </div>
             {{>filter}}
            <div class="recipes-statistics-container">
                <div class="recipes-statistics-data-container">
                    <div class="recipes-statistics-item">
                        <div>45</div>
                        <div>In Progress</div>    
                    </div>
                    <div class="recipes-statistics-item">
                        <div>24</div>
                        <div>Upcoming</div>    
                    </div>
                    <div class="recipes-statistics-item">
                        <div>62</div>
                        <div>Total Recipes</div>    
                    </div>
                </div>
               <div class="view-buttons-container">
                   <div class="list-view-button-wrapper">
                        <button class="list-view-button inverted-colors">
                   </div>
                   <div class="grid-view-button-wrapper">
                        <button class="grid-view-button">
                    </div>
               </div>
            </div>
            <div class="recipes-items-container">
                {{#each recipeList}}
                    {{>recipe}}
                    {{>recipe}}
                    {{>recipe}}
                {{/each}}
            </div>
        </div>
        <div class="client-messages-container">
            <div class="client-messages-container-header">
                <p>Client Messages</p>
                <button class="client-messages-close-button">
                    <img src="/images/close.svg"/>
                </button>
            </div>
            <div class="client-messages-items-container">
                {{>message}}
                {{>message}}
                {{>message}}
                {{>message}}
            </div>
        </div>
    </main>