<div>
    <form>
        <input type='text' name='title' value='title'/><br/>
        <input type='text' name='category' value='category'/> <br/>
        <input type='number' name='time-to-cook' placeholder='time-to-cook (numeric)'/><br/>
        <input type='text' name='instruction' value='instruction'/><br/>
        <input type='text' name='images' value='instruction'/><br/>
        <input type='text' name='ingredients' value='ingredients'/><br/>
        <input type='submit' name='add' value='add'/><br/>
        <input type='button' name='cancel' value='cancel'/><br/>
    </form>
</div>