{{!-- fetch recipes GET by userid(body) --}}
{{!-- get ->  PUT recipe -by Id --}}
{{!-- confirm DELETE --}}
{{!-- filter, search --}}

<main class="main-container">
    <div class="recipes-container">
        <a class="big-green-button" href="/userrecipes/add">Create new recipe</a>
        <div class="recipes-container-header">
            <p>My recipes</p>
            <p>All recipes</p>
        </div>
        <div class="recipes-items-container" id="user-recipes-items-container">
                <div>
                   
                </div>
            </table>
        </div>
    </div>
</main>
<script type = "text/javascript">
    var url = "/js/recipe.js";
    $.getScript(url);
</script>
<script>
    $(document).ready(async function() {
        let response = await fetch("/userrecipes", { 
        method: 'POST',
        headers: { 
            'Authorization': `${localStorage.getItem('token')}`,
            'Content-Type': 'application/json', 
            'Accept': 'application/json' 
        }, });
        
        let recipesContainer = document.getElementById('user-recipes-items-container');
        if (response.status === 200) {
            let resp = await response.json();
            let tr = '';
            let pdata = resp.recipeList;
            
            pdata.forEach(function (value) {
                let r = recipe(value);
                tr += r;
            });
            recipesContainer.innerHTML = tr;
        }
    });   
</script>