.admin-content-table {
    border: 2px dotted black;
    width: 100%;
    border-radius: 15px;
}

.admin-content-table a {
    text-decoration: none;
    color: inherit;
}

.admin-content-table a:hover{
    color: rgb(198, 198, 198);
}



.admincontent-main-container {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    padding: 15px 25px;
    width: 100%;
    overflow-y: auto;
}

.admincontent-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    row-gap: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 15px;
    padding: 25px;
    width: 100%;
    height: fit-content;
}