.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 0 25px;
}

.header-right-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-left: 10px;
}

.header-left-container {
    display: flex;
    align-items: center;
    flex: 5;
    column-gap: 15px;
}

.site-header {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.search-input-container {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #dee1e7;
    width: 100%;
    padding: 10px;
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;
    height: 40px;
    flex-shrink: 0;
}

.search-input {
    border: none;
    flex: 1;
    border: none;
}

.account-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    border-left: #85848d 2px solid;
}

.account-container p {
    font-weight: 600;
}

.switch-theme-button,
.add-recipe-button,
.notify-button {
    width: 20px;
    height: 20px;
    background-size: cover;
}
.add-recipe-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #1f1c2e;
}

.switch-theme-button {
    background-image: url("../images/moon.svg");
}

.add-recipe-button {
    background-image: url("../images/plus.svg");
}

.notify-button {
    background-image: url("../images/bell.svg");
}