/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.auth-form-wrapper {
  background: url("../images/back.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.auth-form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px #dee1e7;
  padding: 35px;
}

.auth-form * {
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.auth-form img {
  width: 50px;
  margin: 10px auto; 
  display: block;
}

.auth-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.login-label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.login-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #f3f6fd;
  border-radius: 15px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.login-button {
  border: none;
  text-decoration: none;
  margin-top: 30px;
  width: 100%;
  background-color: #76ad52bf;
  color: #ffff;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  display: block;
  text-align: center;
  font-weight: 600;
}

.auth-link {
  /* text-decoration: none; */
  font-size: 0.7em;
  color: inherit;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: #f3f6fd;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: f3f6fd;
  color: #889ec6;
  text-align: center;
}

.social div:hover {
  background-color: #ffff;
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}