.user-recipes-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    row-gap: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 15px;
    padding: 25px 25px 0 25px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-recipes-container-header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 0 10px;
}

.user-recipes-table {
    width: 100%;
}

.user-recipes-items-container > div {
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.user-recipes-items-container > div > div {
    display: flex; 
    flex-direction:row; 
    gap: 5px;
}